body {
    font-family: sans-serif;
    padding: 0; 
    margin: 0;
}

.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    color: black;
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
}
.click {
    display: inline-block;
    margin-bottom: 45px;
}

.design-logo {
    color: #49cbff;
}

.list {
    list-style: none;
    border: none;
    text-align: center;
    background-color: #35444f;
    margin: auto;
}

.list-item {
    display: inline-block;
}

.list-item:hover{
    background-color: #222f3a;
    border: solid;
    border-width: thin;
    border-top: none;
    border-bottom: none;
    border-right-color: white;
    border-left-color: white;
}

.list-item-link {
    box-sizing: border-box;
    text-decoration: none;
    color: white;    
    font-size: 24px;
    font-weight: 400;
    margin: 35px;
    line-height: 70px;
}

.left-menu {
    display: inline-block;
}
.left-sidebar {
    display: inline-block;
    list-style: none;
    border: solid;
    border-width: thin;
    border-color: #32424e;
    padding: 0;
    margin-top: 51px;
    width: 325px;
}

.left-sidebar-item:hover{
    background-color: #dcdcdc;
}

.left-sidebar-item:hover .left-sidebar-item-link {
    margin-left: 60px;
    color: black;
}

.left-sidebar-item-link {
    text-decoration: none;
    color: #465763;
    font-size: 26.99px;
    font-weight: 400;
    line-height: 88.867px;
    margin-left: 40px;
}

.right-part {
    display:inline-block;
    vertical-align: top;
    text-align: center;
}

.image {
    display: inline-block;
    text-align: center;
    border: solid;
    border-width: thin;
    border-color: #32424e;
    margin-top: 51px;
    margin-left: 52px;
    padding: 75px 310px 75px 260px;
}

.ramda-img-logo:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.text {
    width: 815px;
    text-align: center;
    margin-top: 50px;
    margin-left: 70px;
}

footer{
    clear: both;
    background-color: #b5b8bb;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-list{
    display: inline-block;
    list-style: none;
    border: none;
    text-align: left;
    line-height: 70px;
}
.footer-item {
    display: inline-block;
}

.footer-item-link{
    text-decoration: none;
    color: #041222;    
    font-size: 24px;
    font-weight: 400;
    padding: 20px;
}

.footer-item-link:hover{
    color: #2e82a7;
    text-decoration: underline;
}

.copyright1 {
    display: inline-block;
    margin-left: 180px;
}

.copyright2 {
    display: inline-block;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
}


    





